<aside id=comments>
 <div><h2> Comments </h2></div>
<!-- UY BEGIN -->
<div id="container"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
  
  owner: 'tokyo2006',              //比如我的叫anTtutu
  repo: 'tokyo2006.github.io',                 //比如我的叫anTtutu.github.io
  oauth: {
    client_id: '2075f868f64937e6e239',          //比如我的828***********
    client_secret: '809c35c9576de1a1a19bd1e32b5412ce0c49f505',  //比如我的49e************************
  },
})
gitment.render('container')
</script>
<!-- UY END -->
</aside>
