        <ul id="mainnav">
            <li>
                <a href="{{ .Site.BaseURL }}/post/">
                <span class="icon"> <i aria-hidden="true" class="icon-nixon-quill"></i></span>
                <span> blog </span>
            </a>
            </li>
            <li>
            <a href="{{ .Site.BaseURL }}/project/">
                <span class="icon"> <i aria-hidden="true" class="icon-nixon-console"></i></span>
                <span> code </span>
            </a>
            </li>
            <li>
            <a href="{{ .Site.BaseURL }}/presentation/">
                <span class="icon"> <i aria-hidden="true" class="icon-nixon-talk"></i></span>
                <span> talks </span>
            </a>
            </li>
            <li>
            <a href="{{ .Site.BaseURL }}/about/">
                <span class="icon"> <i aria-hidden="true" class="icon-nixon-linkedin"></i></span>
                <span> me </span>
            </a>
            </li>
        </ul>

        <!--{{.Site.Params.personal_site}}-->
